body {background-color:#eeeeee}

div#header {
    width:100%;
    margin:0;
    background-color:#434343;
    padding-top:0;
}
div#sub-header {
    clear:none;
    width:100%;
    margin:0;
    margin-top:-3px;
    height:20px;
}
.lower_house div#sub-header {
    background-color:#66c071;
}
.higher_house div#sub-header {
    background-color:#b22b14;
}

div#header-banner {
    width:1200px;
    height:78px;
    margin:0 auto 15px auto;
    background:transparent url(../images/portal_banner.png) no-repeat;
}
div.header-nav {
    display:block;
    width:1200px;
    height:auto;
    margin:3px auto 0 auto;
}
.lev-1-search {
    margin:auto 0px 10px auto;
    float:right !important;
    width:600px;
    height:40px;
    text-align:right;
}
#search-form-global .header-links {
    margin-right:2px;
    color:#36b9f1 !important;
}
#portal-search a.header-links:visited, 
#portal-search a.header-links {
    margin-right:2px;
    color:#ffffff;
}

div#main-wrapper {
    width:1200px;
    height:auto;
    margin:0 auto 0 auto;
    margin-top:20px;
    background-color:tranparent;
}
.portal .main-content {

}

.big-dbl-arrow {
    float:left;
    font: bold 50px 'Times New Roman',serif;
}

.medium-dbl-arrow {
    float:left;
    line-height: 18px !important;
    font: bold 40px 'Times New Roman',serif;
}

h1.title {
    text-shadow: 0px 1px 0px #c1c1c0;
    font-weight:normal;
    font-size:1.5em;  
}
.lev-1-search {
    margin: auto 0px 10px auto;
    float: right !important;
    width: 400px;
    height: 40px;
    text-align: right;
    position: relative;
}

h2.sub-title {
    text-shadow: 0px 1px 0px #c1c1c0;
    font-weight:normal;
    font-size:1.5em;
}

h2:empty {
    display:none;
}

h4 {
    margin:0 auto;
    text-align:center;
}

#doc-pre {
    position:relative;
    width:100%;
}

.ls-tabs {
    position:relative;
    width:100%;
}

div#region-content {
    width:1200px;
    height:auto;
    min-height:500px;
    margin:0px auto 20px auto;
    padding:10px 0;
	background: #fff;    
}

div#region-content > div {
    margin: 0 auto;
    padding:0 10px;
}
div.doc-table-wrapper {
    width:90%;
    margin: 0 auto;
    text-align:center;
}

div.list-header {
    margin:0 auto;
    width:97%;
    height:30px;
    clear:both;
}

.toggler {
    cursor:pointer;
}

div#doc-downloads {
    height:22px;
    padding:0 10px 0 0;
    text-align:right;
}

.doc-headers {
    color:#000;
    text-shadow: 0px .5px 0px #c1c1c0;
    font-weight:normal;
    font-size:1.1em;
} 

.doc-headers-darkgrey {
    color:#4f4f4f;
    text-shadow: 0px .5px 0px #c1c1c0;
} 

#doc-heading {
    text-align:center;
    text-transform:uppercase;
}
#doc-img {
    display:block;
    margin:0 auto 0 auto;
}
#doc-item-no {
    text-align:center;
}
#doc-item-desc {
    text-align:center;
    text-transform:uppercase;
}
#doc-item-desc2 {
    text-align:center;
}

#doc-content-area {
    margin:10px auto 10px auto;
    width:695px;
    text-align:justify;
}
#report-content-area {
    margin:10px auto 10px auto;
    width:94%;
    text-align:justify;
}

.doc-toggle {
    margin:0 auto 0 10px;
}

.tgl-wrap {
    margin-right:10px;
}
.tgl-pad-right {
    padding-right:5px;
}
 
 .toggle-wrapper {
    margin:0 auto;
    width:94%;
    height:10px;
 }
 .toggler-list {
    width: 110px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .1);
    font-weight: normal;
    text-decoration: none;
    cursor:pointer;
 }
 .sub-toggler {
    text-align: right;
 }
 .list-dot {
    color: #AAAAA9;
 } 
 .list-dot.current {
    color: #494949;
 }  
 .search-bar {
    float:right;  
    display:inline;
 }
 
.clear {
    clear:both;
}
.clear-after {
    clear:none;
    height:10px;
}
.hide {
    display:none;
}

.doc-views-section {
    margin:0 auto;
    margin-bottom:5px;
    padding:4px 0;
    height:auto;
    width:96%;
    background-color:#dedede;
}
.doc-views-section form select {
    width:60%;   
}

.version-align {
    clear:both !important;
    width:110px !important;
    height:auto !important;
    float:right !important;
    display:inline;
    position:relative;
    top:0px;
    right:10px;
}

.address-info {
    margin-left:15px;
}

.truncate {
    padding:0;
    margin:0;
	width: 100%;
	display:inline;
	white-space: nowrap;
	overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;	
	text-overflow: ellipsis;
}

/* emblem */
img.parl-emblem {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

/* Calendar */
#calendar {
    width:700px;
    margin:0 auto !important;
}

/* Stuctures / Layout */
.full-width {
    width:100%;
}

.struct-ib {
    /* this was necessary in order to use ellipsis at the end of the line*/
    display:inline;
}
.struct-i {
    display:inline;
}
.txt-center {
    text-align:center;
}

.txt-left {
    text-align:left;
}

.txt-right {
    text-align:right;
}

/* APPLY COLOR ONLY */
.bu-red {
    color:#b22b14;
}

/* PAGINATOR */
.paginate {
 	text-align:right;
 	float:left;
 	height:30px;
}
.paginate .page-state {
    float:left;
    display:inline;
    padding:1px 5px 0 0;
    height:18px;    
}
.paginate a 
{
	font-size:12px;
	font-weight:bold;
	border:1px solid #C1C1C0;
	margin:0 3px 0 3px;
	padding:2px 6px 2px 6px;
}
.paginate a:first-child 
{
	margin-left:0;
}

.paginate a.disabled {
	color: #7e7e7e;
	cursor:text;
	text-decoration:none;
}

.paginate a.curr-no {
	color: #ffffff !important;
	background-color: #C1C1C0;
	border:1px solid #C1C1C0;
}
/* PAGINATOR END */

/* SEARCH */
.quoted-qry {
    font-style:italic;
    color:#36B9F1;
}
 
/*reusables*/
.timeline-action {
    font-style: italic;
    font-weight: normal;
    color:#888;
    padding-right:3px;
}
.vote-question {
    font-weight:bold;
    padding:2px 0;
    margin:0 4px;
}
.vote-outcome {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding:2px 4px;
    margin:0 4px;
}
.rejected {
    background:#e65854;
    color:#fff;
}
.passed {
    background:#5dbb5d;
    color:#fff;
}
.camel-txt {
    text-transform:capitalize;
}
.lower-txt {
    text-transform:lowercase;
}
p.inline-centered {
    text-align:center;
}

/* div blocks */
.blocks {
    width:100%;
    margin: 0 auto;
}
.list-block {
    width:90%;
    margin:0 auto;
    padding-bottom:10px;
}
.list-block .block-label {
    min-width:120px;
    width:auto;
    font-weight:bold;
}
.mem-profile .list-block .block-label {
    min-width:160px;
}
.list-block div.doc-toggle {
    width:90%;
}
/* div inlines */
.list-inline {
    width:60%;
    margin:0;
    padding-bottom:10px;
    display: table;
    table-layout: fixed;
}
.list-inline .inline-label {
    min-width:160px !important;
    font-weight:bold;
    display: table-cell;
}

/* Versions, Event View feature this on the top-right section of the document */
.hanging-menu {
    clear:both;
    width:100px !important;
    height:auto;
    float:left !important;
    display:inline;
    position:relative;
    top:0px;
    right:10px;
}

.hang-left-titles {
    margin-left:110px;
    clear:none;
    float:none;
}

.block {
    display:block;
    padding-right:0px;    
}

.inline {
    display:inline !important;
    padding-right:0px;
}

/* ADV search filters */
#adv-search-wrapper fieldset {
    display: block;
    margin: 0 0 1em 0;
    border: 0 solid white;
    border-top: 1px solid black;
    padding: 0 1em 1em 1em;
}

div.category-block {
    float:left;
    width:180px;
    border:1px solid transparent;
}

div.row {
    float:left;
    width:860px;
    padding-top: 5px;  
 }

div.row span.label {
    float: left;
    width: 200px;
    text-align: right;  
}

div.row span.formw {
    float: left;
    width: 395px;
    text-align: left;
}
div.row span.formw input {
    vertical-align:text-top;
    width:315px;
}
div.row span.formw input.button {
    float:right;
    width:auto;
    text-align:right;
}

div.row span.example {
    float: right;
    width: 320px;
    text-align: left;
    font-family: "Arial","Helvetica",sans-serif;
    font-size:0.9em;
    color:gray;
}

div.row span.mono {
    font-family: monospace;
    font-size:0.9em;
    color:black;
}

div.row ul {
    margin-top:20px;
    list-style-type: none;
}
div.row ul li span {
    text-align:left;
}

div.row div.b-left {
    float:left;
    width:600px;
    text-align:right;
    padding-right:20px;
    border-right:1px solid #c1c1c0;
 }
div.row div.b-chambers {
    float: left;
    width: 180px;
    text-align: right;
    padding-right: 20px;
    border-right: 1px solid #C1C1C0;
}
div.row div.b-right {
    width:200px;
    float: right;
    display: block;
}
div.row div.b-right input.button {
    margin-top:20px;
    width:auto;
    text-align:right;
}

.ul-list-header {
    font-weight:bold;
}

#adv-search-wrapper {
    margin:0 auto;
    width:96%;
    height:100%;
    padding:5px;
}

.chamber-options {
    height:70px !important;
}

.checkall {
    font-weight:normal;
    font-size:.9em;
    font-style:italic;
}

/* Lucene */
.search-subh {
    margin-left:10px;
    color:#ff8a00;
    width:100%;
}
.search-snippet {
    margin-left:10px;
    color:#000000;
    width:90%;
}
.snippet span {
    width:100% !important;
}
span.hi {
    background:#eeeeee;
    padding-left:3px;
    padding-right:3px;
    color:#b32c13;
    font-weight:bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* Lucene - global search */
.global-preview-head {
    clear:both;
    margin-left:15px;
    font-size:1.6em;
    font-style:italic;
}
.global-preview-summary {
    margin-left:15px;
    clear:both;
}
.r-prompts {
    color:#36b9f1;
    font-size:1.5em;
}

/*VANILLA THEME*/
a.van-light {
    color:#1f34fd;
}

/* Toggle */
.togglers {
    text-decoration:none !important;
}

/* DHTMLX Calendar
-------------------------------------------------------------- */
.dhx_cal_navline {
    top:40px;
}
.dhx_cal_title {
    top:-10px !important;
}

/* Tables
-------------------------------------------------------------- */
table.listing,
table.tbl-tgl,
table.timeline {
    width:100%;
}

table.listing tr th,
table.tbl-tgl tr th,
table.timeline tr th {
    font-weight:bold;
    text-align:left;
    width:100px;
    vertical-align:bottom;
    white-space:nowrap;
}

table tr td.labels {
    font-weight:bold;
    text-align:left;
    width:100px;
    vertical-align:bottom;
    white-space:nowrap;
}

tbody tr.items:hover {
  background: #eee;
}

/* DHTMLX Calendar
-------------------------------------------------------------- */
.dhx_cal_navline .dhx_cal_date {
    font-size: 14px !important;
}

/* MENU
-------------------------------------------------------------- */
@font-face {
    font-family: "Droid Sans";
    src: url(../fonts/DroidSans.ttf) format("truetype");
}
@font-face {
    font-family: "Droid Sans";
    src: url("../fonts/DroidSans-Bold.ttf");
    font-weight: bold;
}
nav {
    clear:both;
	margin: 0 auto; 
}
nav *,
.submenu * {
    font-family: 'Droid Sans', sans-serif;
}
nav ul ul.mouseover {
	display: none;
}
nav ul li:hover > ul.mouseover {
	display: block;
}
nav ul ul {
    padding:0;
    margin:0;
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	list-style: none;
	position: relative;
	display: inline-table;
	height: 14px;
	line-height:14px;
}
nav ul:after {
	content: ""; 
	clear: both; 
	display: block;
}
nav > ul > li {
    width:395px;
    display:inline-block;
    white-space:nowrap;
}

/* Defaults */
/*
!+NIGERIA(ah,2014-10-07) changed for nassnig
nav > ul > li#lower-hse {    
    background: linear-gradient(top, #f79f10 0%, #ee990d 100%);  
    background: -moz-linear-gradient(top, #f79f10 0%, #ee990d 100%); 
    background: -webkit-linear-gradient(top, #f79f10 0%,#ee990d 100%); 		    
}
*/

nav > ul > li#lower-hse {    
    background: linear-gradient(top, #02440a 0%, #66c071 100%);  
    background: -moz-linear-gradient(top, #02440a 0%, #66c071 100%); 
    background: -webkit-linear-gradient(top, #02440a 0%,#66c071 100%); 		    
}
nav > ul > li#lower-hse > a {
    font-weight:bold;
    color:#eeeeee;
    font-size:16px;                
}

nav > ul > li#upper-hse {    
    background: linear-gradient(top, #b22b14 0%, #a12712 100%);  
    background: -moz-linear-gradient(top, #b22b14 0%, #a12712 100%); 
    background: -webkit-linear-gradient(top, #b22b14 0%,#a12712 100%); 		    
}
nav > ul > li#upper-hse > a {
    font-weight:bold;
    color:#eeeeee;
    font-size:16px;                
}

nav > ul > li#nat-assembly {    
    background: linear-gradient(top, #5c5555 0%, #a0a0a0 100%);  
    background: -moz-linear-gradient(top, #5c5555 0%, #a0a0a0 100%); 
    background: -webkit-linear-gradient(top, #5c5555 0%,#a0a0a0 100%); 		    
}
nav > ul > li#nat-assembly > a {
    font-weight:bold;
    color:#eeeeee;
    font-size:16px;                
}


nav ul li:hover {
       -webkit-box-shadow: rgba(0,0,0,.2) 2px 4px 4px;
        -moz-box-shadow: rgba(0,0,0,.2) 2px 4px 4px;
        box-shadow: rgba(0,0,0,.2) 2px 4px 4px;                
    }
    	nav ul li:hover a {
    		color: #fff;
    	}

nav ul > li > a {
	display: inline-block; 
	padding: 10px 10px;
	text-decoration: none;
}
		
/* HOUSE TOP-NAVS */	
nav ul ul.hse-list {
    margin:0;
    padding:0 0 4px 0;
    display:inline-block;
    background:transparent;
    
}
nav ul ul.hse-list li {
    display:inline;
    padding:0 5px;
    background-color:transparent;
}
nav ul ul.hse-list li a {
    padding:0;
    margin:0;
    color:#dedede;   
    background-color:transparent;
    font-size-adjust:0.49;
} 
nav ul ul.hse-list li a:hover {
    color:#ffffff;   
}        

/*** subnav ***/	     
.submenu ul li a {
    color:#ffffff;
    text-decoration: none; 
    padding: 5px; 
    line-height:20px;
    text-align:center;
}

.submenu ul li a:visited {
    color: #fff;
    text-decoration: none;
    }

.submenu ul li a:hover, 
.submenu ul li a.current {
    color: #e0efe0;
    text-decoration:underline;
    } 

.subnav {
    /*background: linear-gradient(top, #239e45 0%, #037d2e 100%);  
    background: -moz-linear-gradient(top, #239e45 0%, #037d2e 100%); 
    background: -webkit-linear-gradient(top, #239e45 0%,#037d2e 100%);*/         
}
.subnav ul {
    margin:0;
    padding:0;
    display:inline-block;
    background:transparent;
}
.subnav ul li {
    display:inline;
    padding:0 5px;
    background-color:transparent;
}
.subnav ul li a {
    padding:0;
    margin:0;
    color:#dedede;   
    background-color:transparent;
}    
.subnav ul li a:hover {
    color:#ffffff;   
}      
	
nav ul ul.mouseover {
	background: #555556; 
	border-radius: 0px; 
	padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul.mouseover li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #555556; 
		position: relative;
	}
		nav ul ul.mouseover li a {
			padding: 15px 20px;
			color: #fff;
		}	
			nav ul ul.mouseover li a:hover {
				background: #444;
			}
	
nav ul ul.mouseover ul {
	position: absolute; 
	left: 100%; 
	top:0;
}

/*------------------------------*/
.dhx_cal_event a {
    color:#fff3a1;
}

#portal-breadcrumbs a {
    text-decoration: none;
}
#portal-breadcrumbs a:after { 
    content: "  \2192  "; /* &rarr; -- here must be in HEX */
    font-size: 120%;
}
#portal-breadcrumbs a:last-child:after {
    content: "";
}