select {
    padding: initial;
}

input, select {
    margin-left:3px !important;
}
label {
    margin-left:10px;
}

select, input.search_for {
    display: inline-block;
    height: 20px;
    padding: 0;
    font-size: 1em;
    line-height: 20px;
    background-image: none;
    background-color: #ffffff;
    border: 1px solid #8e8e8e;
    margin: 0;
    vertical-align: baseline;    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

label.search_for {
    float:left;
    padding-top:4px;
    vertical-align:bottom;
}

input.search_for {
    width:215px;
    padding-left:3px;
    padding-right:3px;
}

/*
 * The advanced search-box form on listing items
 */
.sb_wrapper input[type="text"],
ul.sb_dropdown {
    border:1px solid #fff;
    background: #eeeeee; 
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#eeeeee)); 
    background: -moz-linear-gradient(top, #f2f2f2, #fafafa);
    font-size:0.9em;
    font-family:"Times New Roman", sans-serif;
    outline:none;
    position:relative;
    list-style:none;            
    text-shadow:1px 1px 1px #fff;
    width:225px !important;
    float:right;
    margin:3px 0px;
    padding:6px 5px;      
    -moz-box-shadow:1px 1px 3px #555;
    -webkit-box-shadow:1px 1px 3px #555;
    -box-shadow:1px 1px 3px #555;            
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;            
}
ul.sb_dropdown li{
    font-size:1em;
    line-height:32px;
    height:32px;
    float:left;
    width:50%;
}
ul.sb_dropdown li input[type="checkbox"]{
    float:left;
    margin:10px 4px 0 5px;
}
ul.sb_dropdown li.sb_filter{
    width:213px;
    border:1px solid #f9f9f9;
    clear:both;
    background: #ddd;
    font-size:12px;
    text-transform:uppercase;
    letter-spacing:1px;
    text-align:center;
    color:#444;
    height:16px;
    line-height:16px;
    padding:5px;
    -moz-box-shadow:0px 0px 2px #777;
    -webkit-box-shadow:0px 0px 3px #555 inset;
    -box-shadow:0px 0px 3px #555 inset;
}            
.dropdown { width:230px;float:left;display:inline;margin:0;margin-top:1px;padding:0;white-space: nowrap;}
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color:#816c5b; text-decoration:none; outline:none;}
.dropdown a:hover { color:#5d4617;}
.dropdown dt a:hover { color:#5d4617;background:#fff url(../images/arrow-hover.png) no-repeat scroll right center;}
.dropdown dt a {background:#fff url(../images/arrow.png) no-repeat scroll right center; display:block; padding-right:8px;
                 width:15px;}
.dropdown dt a span {cursor:pointer; display:block; padding:5px;}
.dropdown dd ul { display:none;left:0px; padding:5px 0px; position:absolute; top:2px; width:auto; min-width:170px; list-style:none;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5px; display:block;}
.dropdown dd ul li a:hover { background-color:#d0c9af;}