.mem-profile {
    margin-top:20px;
}
.mem-desc {
    width:96%;
    margin:10px auto;
}
.mem-top-left {
    float:left;
}
.mem-top-right {
    float:right;
    text-align:center;
    width:auto;    
    min-height:250px;
}
.mem-table-wrapper {
    margin:0 auto;
    text-align:center;
    width:auto;    
}
.mem-photo {
    width:170px;
    height:200px;
    margin:0 auto auto 0;
}
.photo-listing img {
    max-width:140px !important;
}
.mem-inline-content {
    padding:10px 40px;
    text-align:left;
}

p.imgonlywrap {
	  float:left;
	  background: url(../images/shadowAlpha.png) no-repeat bottom right !important;
	  background: url(../images/shadow.gif) no-repeat bottom right;
	  margin: 10px 10px 0 30px !important;
	  margin: 10px 10px 0 5px;
  }
  
p.imgonlywrap img {
    width:auto;
    max-width:200px;
    height:auto;
    display: block;
    position: relative;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    margin: -6px 6px 6px -6px;
    padding: 4px;
  }  
  
table.mem-tbl-details {
    width:700px;
    margin:10px 25px 0 auto;
    float:right;
}
table.mem-tbl-details tr td.labels {
    vertical-align:top;
    width:160px;
    height:25px;
    font-weight:bold;
    text-align:right;
}
.labels {
    padding-right:10px;
    font-weight:bold;
    text-align:right;
}
table.mem-tbl-details tr td {
    vertical-align:top;
    border-color:#cccecc;
    padding-left:8px;
}
