# user_bungeni = bungeni buildout folder
# user_glue = the glue install folder

[general]
bungeni_docs_folder = %(user_bungeni)s/parts/xml_db/
akomantoso_output_folder =%(user_glue)s/outputs/an-output/
metalex_output_folder = %(user_glue)s/outputs/on-output/
attachments_output_folder = %(user_glue)s/outputs/atts-output/
temp_files_folder = %(user_glue)s/tmp/
transformer_resources_folder = %(user_glue)s/resources/
# simultaenously dump metalex info too
# Warning: Increases overload
allow_metalex_output = true

[preprocess]
replace:nbsp=&nbsp;|&#160;
replace:xyz=search|replace

[translations]
# po-files folder for downloaded .po files from paths in the messages section below
# i18n folder holds the translated xml files awaiting upload to repository
po_files_folder = %(user_glue)s/tmp/po-files/
i18n_catalogues_folder = %(user_glue)s/tmp/i18n/

[pipelines]
# paths to configuration files needed by glue pipeline
# NB: this paths are relative to the resources file set in the glue.py script
group = configfiles/configs/config_bungeni_group.xml
government = configfiles/configs/config_bungeni_group.xml
ministry = configfiles/configs/config_bungeni_group.xml
political_group = configfiles/configs/config_bungeni_group.xml
committee = configfiles/configs/config_bungeni_group.xml
office = configfiles/configs/config_bungeni_group.xml
sitting = configfiles/configs/config_bungeni_groupsitting.xml
user = configfiles/configs/config_bungeni_user.xml
minister = configfiles/configs/config_bungeni_membership.xml
political_group_member = configfiles/configs/config_bungeni_membership.xml
member_of_parliament = configfiles/configs/config_bungeni_membership.xml
committee_member = configfiles/configs/config_bungeni_membership.xml
committee_staff = configfiles/configs/config_bungeni_membership.xml
office_member = configfiles/configs/config_bungeni_membership.xml
question = configfiles/configs/config_bungeni_parliamentaryitem.xml
motion = configfiles/configs/config_bungeni_parliamentaryitem.xml
bill = configfiles/configs/config_bungeni_parliamentaryitem.xml
tabled_document = configfiles/configs/config_bungeni_parliamentaryitem.xml
agenda_item = configfiles/configs/config_bungeni_parliamentaryitem.xml
heading = configfiles/configs/config_bungeni_heading.xml
event = configfiles/configs/config_bungeni_parliamentaryitem.xml
address = configfiles/configs/config_bungeni_address.xml
parliament = configfiles/configs/config_bungeni_group.xml
report = configfiles/configs/config_bungeni_parliamentaryitem.xml
attachment = configfiles/configs/config_bungeni_parliamentaryitem.xml

[webdav]
# eXist XML DB for storing the transformed documents
username = admin
password = 
server = localhost
port = 8088
bungeni_xml_folder = /exist/webdav/db/bungeni-xml/
bungeni_atts_folder = /exist/webdav/db/bungeni-atts/
framework_i18n_folder = /exist/webdav/db/apps/framework/i18n/

[messages]
ar = http://bungeni-portal.googlecode.com/svn/bungeni_custom/trunk/translations/bungeni/ar/LC_MESSAGES/bungeni.po
en = http://bungeni-portal.googlecode.com/svn/bungeni_custom/trunk/translations/bungeni/en/LC_MESSAGES/bungeni.po
en_KE = http://bungeni-portal.googlecode.com/svn/bungeni_custom/trunk/translations/bungeni/en-ke/LC_MESSAGES/bungeni.po
es = http://bungeni-portal.googlecode.com/svn/bungeni_custom/trunk/translations/bungeni/es/LC_MESSAGES/bungeni.po
es_DO = http://bungeni-portal.googlecode.com/svn/bungeni_custom/trunk/translations/bungeni/es-do/LC_MESSAGES/bungeni.po
fr = http://bungeni-portal.googlecode.com/svn/bungeni_custom/trunk/translations/bungeni/fr/LC_MESSAGES/bungeni.po
it = http://bungeni-portal.googlecode.com/svn/bungeni_custom/trunk/translations/bungeni/it/LC_MESSAGES/bungeni.po
nl = http://bungeni-portal.googlecode.com/svn/bungeni_custom/trunk/translations/bungeni/nl/LC_MESSAGES/bungeni.po
pt = http://bungeni-portal.googlecode.com/svn/bungeni_custom/trunk/translations/bungeni/pt/LC_MESSAGES/bungeni.po
sw = http://bungeni-portal.googlecode.com/svn/bungeni_custom/trunk/translations/bungeni/sw/LC_MESSAGES/bungeni.po
ru = http://bungeni-portal.googlecode.com/svn/bungeni_custom/trunk/translations/bungeni/ru/LC_MESSAGES/bungeni.po
tk = http://bungeni-portal.googlecode.com/svn/bungeni_custom/trunk/translations/bungeni/tk/LC_MESSAGES/bungeni.po
