exist-home=%(exist_home)s
exist-docs=%(upload_from)s
config-editor=%(upload_from_ce)s
user=%(exist_admin)s
password=%(exist_password)s
exist-demo-xml=/db/bungeni-xml
exist-demo-atts=/db/bungeni-atts
root-uri=xmldb:exist://localhost:%(exist_port)s/exist/xmlrpc/db
fw-uri=xmldb:exist://localhost:%(exist_port)s/exist/xmlrpc/db/apps/framework
sys-uri=xmldb:exist://localhost:%(exist_port)s/exist/xmlrpc/db/system
on-uri=xmldb:exist://localhost:%(exist_port)s/exist/xmlrpc/db/bungeni-xml
atts-uri=xmldb:exist://localhost:%(exist_port)s/exist/xmlrpc/db/bungeni-atts
ce-uri=xmldb:exist://localhost:%(exist_port)s/exist/xmlrpc/db/config_editor
