<?xml version="1.0" encoding="UTF-8"?>
<!-- Edit configuration for config_editor -->
<ce-config app-name="config-editor">
    <name>Bungeni Configuration Editor</name>
    <configs-collection>bungeni-configuration</configs-collection>
    <configs collection="bungeni_custom" form="forms" notif="notifications" sys="sys" vocab="vocabularies" wf="workflows" ws="workspace">
        <fs-path></fs-path>
        <fs-live>import_2013-06-18T15-31-25</fs-live>
    </configs>
</ce-config>
