/* Document download options list styling */
ul.ls-downloads li.selected {
    background-color:#f5f5f5;   
}

ul.ls-downloads { list-style-type:none;padding: 0px; margin: 0px;float:right;width:auto;height:18px; }
ul.ls-downloads em { display: none; margin: 0; padding: 0; line-height: 0px;}
ul.ls-downloads li { float: right; padding: 0px;padding-right:8px; margin: 0px;margin-top:5px; list-style-type: none; color:#494949; display: inline; }
ul.ls-downloads li a { display: block; height: 15px;margin-right:0px; }
ul.ls-downloads li a.rss { margin-right:0px;background: url(../images/ico-rss.png) no-repeat left top; width: 15px; }
ul.ls-downloads li a.print { margin-right:0px;background: url(../images/ico-print.png) no-repeat left top; width: 15px; }
ul.ls-downloads li a.odt { margin-right:0px;background: url(../images/ico-doc.png) no-repeat left top; width: 15px; }
ul.ls-downloads li a.rtf { margin-right:0px;background: url(../images/ico-rtf.png) no-repeat left top; width: 15px; }
ul.ls-downloads li a.pdf { margin-right:0px;background: url(../images/ico-pdf.png) no-repeat left top; width: 15px; }
ul.ls-downloads li a.xml { margin-right:0px;background: url(../images/ico-xml.png) no-repeat left top; width: 15px; }
ul.ls-downloads li a.edit { margin-right:0px;background: url(../images/ico-edit.png) no-repeat left top; width: 15px; }
ul.ls-downloads li a:hover { background-position: left -15px; }

/* Listing of versions */
ul.doc-versions {
    display:block;
    list-style-type:none;
}

/* Listing of items */
ul.ls-row {
    margin:0 auto;
    display:block;
    list-style-type:none;
    padding:0 0 0 15px;
    width:90% !important;
}
ul.ls-row li {
    display:block;
    color:#494949;
    margin-bottom:20px;
}
ul.ls-row li > span {
    width:5px;
    float:left;
    cursor:pointer;
    margin-right:5px;
}
ul.ls-row div.list-toggle {

}  
ul.ls-row div.doc-toggle {
    margin:5px auto 5px 10px;
} 
.list-block div.doc-toggle {
    margin:5px auto 5px 10px;
    display:none;
}
.list-block div > span {
    cursor:pointer;
}
div.doc-toggle.closed {
    display:none;
} 
div.doc-toggle.opened {
    display:inherit;
} 

/* Listing of main-nav tabs */
#tabs {
    text-align:left;
    margin-left:0px;
}

.menu ul li a{
    float: left; 
    font-size:1.3em;
    text-decoration: none; 
    color: #fff; 
    padding: 5px 11px; 
    background-color: #434343;}

.menu ul li a:visited{ /*Don't change text color after visit */
    color: #fff;
    text-decoration: none;}

.menu ul li a:hover, 
.menu ul li .current {
    color: #fff;
    background-color:#7e7e7e;} 
    
.workspace .menu ul li a:hover, 
.workspace .menu ul li .current {
    color: #fff;
    background-color:#21a1ba;}    
    
/*** mainnav ***/
 #mainnav {
     margin-top:-32px; /* group4 */
 }
 #mainnav ul {
    position:absolute;
    height:26px; /* group4 */
    background:transparent;
    border-bottom:1px solid #01a54f;
    margin:0;
    padding:3px 6px 0;
    list-style:none;
}
#mainnav ul li {
    float:left;
    margin:0 12px 0 0;
    position:relative;
    padding:0;
}

#mainnav ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    padding:0 10px;
    line-height:25px; /* group4 */
    height:25px; /* group4 */
    background:#7a0000;
    border-bottom:none;
    -webkit-background-clip: padding-box;
    -webkit-font-smoothing:antialiased;
    -webkit-border-top-left-radius:8px;
    -webkit-border-top-right-radius:8px;
    -moz-border-radius:8px 8px 0 0;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    text-shadow:#000 0 -1px 0;
    position:relative;
}


#mainnav ul li:after {
    right:-8px;
}

#mainnav ul a:before, #mainnav ul a:after {
    content:'';
    width:10px;
    height:8px;
    position:absolute;
    z-index:3;
    bottom:-1px;
    background:#ef1c25;
    overflow:hidden;
    border-bottom:1px solid #ef1c25;
    margin-top:-26px; /* group4 */
    -webkit-background-clip: padding-box;
}

#mainnav ul a:before {
    left:-11px;
    border-bottom-right-radius:8px;
    -webkit-border-bottom-right-radius:8px;
    -moz-border-radius-bottomright:8px;
}

#mainnav ul a:after {
    right:-11px;
    border-bottom-left-radius:8px;
    -webkit-border-bottom-left-radius:8px;
    -moz-border-radius-bottomleft:8px;
}

#mainnav ul li.selected a {
    background:#01a54f;
    color:#fff;
    height:26px; /* group4 */
    text-shadow:#222 0 1px 0;
    -webkit-background-clip: padding-box;
}

#mainnav ul li.selected a:before, 
#mainnav ul li.selected a:after {
    bottom:0;
}

#mainnav ul li.selected:before, 
#mainnav ul li.selected:after {
    background:#01a54f;
    bottom:0;
    -webkit-background-clip: padding-box;
}
 
/*** subnav ***/	     
.submenu ul li a {
    float: left; 
    font-size:1.2em;
    text-decoration: none; 
    padding: 2px 11px; 
    text-align:center;
    color:#ffffff;
}

.submenu ul li a:visited {
    color: #fff;
    text-decoration: none;
    }

.submenu ul li a:hover, 
.submenu ul li a.current {
    color: #7a0000 !important;
    } 
    
/* global expand and collapse */
ul.list-toggle-ctrl {
    list-style-type:none;
    text-align:left;
    margin:20px 0 0 0;
    padding-left:12px;
}
ul.list-toggle-ctrl li {
    display:inline;
    text-transform:lowercase;
    padding:1px 3px 1px 3px;
    font-size:14px;
}
ul.list-toggle-ctrl li a {
    width:180px;
    color: #aaaaa9;
    text-shadow: 0px -1px 0px rgba(0,0,0,.1); 
    font-weight:normal;
    text-decoration:none;
}
ul.list-toggle-ctrl li a:active {
    width:180px;
    color: #434343;
    text-shadow: 0px -1px 0px rgba(0,0,0,.9); 
    font-weight:normal;
    text-decoration:none;
}
ul#list-toggle-wide {
    width:780px;
    margin:10px auto 0 10px;
    padding-left:0px;
}
ul#list-toggle-wide li {
    padding:8px;
}

/* document sub-menu tabs */
/* Listing of doc tabs */
ul.tabbernav {
	margin: 0;
	margin-left:25px;
	padding: 0;
	float: left;
	list-style: none;
	height: 22px; /*--Set height of tabs--*/
}
ul.tabbernav li {
	float: left;
	margin: 0;
	padding: 0;
	height: 21px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 21px; /*--Vertically aligns the text within the tab--*/
	border-left: none;
	overflow: hidden;
	position: relative;

}
ul.tabbernav li a {
	text-decoration: none;
	display: block;
	padding: 0 10px;
	outline: none;

}
ul.tabbernav li a:hover {
	background: #ea6363;
	color:#fff;
	border-bottom:1px solid #bbbbbb;
    -moz-border-radius-topleft: 5px; 
    -webkit-border-top-left-radius:5px; 
    border-top-left-radius:5px; 
    -moz-border-radius-topright: 5px; 
    -webkit-border-top-right-radius:5px; 
    border-top-right-radius:5px;   	
}
ul.tabbernav li.active a:hover, /*--Makes sure that the active tab does not listen to the hover properties--*/
ul.tabbernav li.active  { 
	background: #ea6363;
	color:#fff;
    -moz-border-radius-topleft: 5px; 
    -webkit-border-top-left-radius:5px; 
    border-top-left-radius:5px; 
    -moz-border-radius-topright: 5px; 
    -webkit-border-top-right-radius:5px; 
    border-top-right-radius:5px;   	
}  
ul.tabbernav li.active a  { 
	color:#fff; 	
} 
ul.tabbernav li.selected {
    background:#b2b4b0;
}

/* BREADCRUMBS */
#portal-breadcrumbs {
    height: 19px;
    margin: 0 auto;
    width:960px;
}
#portal-breadcrumbs > span:first-child { }
div#content-wrapper {
    height: auto;
    margin: 0 auto 0 auto;
    margin-top: 20px;
    background-color: tranparent;
}
#portal-breadcrumbs a {
    color: #7E7E7E;
}

.tab_container {
	overflow: hidden;
	clear: both;
	background: #f9f8f8;
}
.tab_content {
	padding-left: 10px;
}  

.tl-round {
    border-top-left-radius: 6px 6px;
}
.tr-round {
    border-top-right-radius: 6px 6px; 
}
.bl-round {
    border-bottom-left-radius: 6px 6px; 
}
.br-round {
    border-bottom-right-radius: 6px 6px; 
}

#global-language {
    width:960px;
    height:18px;
    margin:0 auto;
    text-align:right;
}
ul#portal-languageselector {
    padding:0;
    margin:0;
    background-color:#000000;
}
ul#portal-personaltools {
    list-style-type:none;
    padding:0;
    margin:0; 
}
#portal-languageselector li,
#portal-personaltools li {
    display:inline;
}
#portal-languageselector li.selected {
    background-color: #7a0000;
    text-shadow: #222 0 1px 0;
    -moz-border-radius-bottomleft: 3px; 
    -webkit-border-bottom-left-radius:3px; 
    border-bottom-left-radius:3px; 
    -moz-border-radius-bottomright: 3px; 
    -webkit-border-bottom-right-radius:3px; 
    border-bottom-right-radius:3px;    
}
#global-language #portal-languageselector li a,
#global-language #portal-personaltools li a {
    color:#fff;
    text-align:center;
    padding:1px 3px;    
}

.black-full {
   margin-left:10px;
   width:94%;
   color:#000000;
}
.grey-full {
   margin-left:10px;
   width:100%;
   color:#908a89;
}