table		{ border-collapse: collapse; border-color: #000000 }

table.listings {
    margin:10px auto auto auto !important;
}
table.listings tr.norm-row td {
    padding:10px !important;
}
table.listings tr td.norm-cell {
    
}

.doc-status {
    width:695px;
    margin:0 auto 0 auto;
    text-align:center;
    margin-bottom:30px;
}
.doc-status span {
    font-size:15px !important;
    padding-right:5px;
}
table.doc-tbl-details {
    width:695px;
    margin:0 auto 0 auto;
    margin-left:10px !important;
    margin-right:auto;
    width:95% !important;
    clear:both;    
}
table.doc-tbl-details tr td.labels {
    height:20px;
    font-weight:bold;
    text-align:left;
    width:100px;
    vertical-align:top;
    white-space:nowrap;
}
table.doc-tbl-details tr td {
    border-width:1px;
    border-color: #c1c1c0 !important;
    padding-left:8px;
    text-align:left !important;
    vertical-align:bottom;
}

table.tbl-tgl {
    padding:2px 5px 2px 5px;
    width:90%;
    float:none;
    margin:20px auto 0 auto;
    text-align:left;    
}
table.tbl-tgl tr td {
    padding:2px 5px 2px 2px;
}

table.timeline  {
   width:100%;  
   float:none;
   text-align:center;
   text-align:center;
   margin:0 auto;
   margin-top:10px;  
}
table.timeline tr th,
table.timeline tr td {
    text-align:left;    
    border-bottom:1px solid #ccc;
    padding:5px;
}
tbody tr.items:hover {
  background: #eee;
}
td		{ font-size: 13px; font-family: "Times New Roman", sans-serif; vertical-align: middle; }
td.fleft	{ border-left-width: 1pt; border-left-style: solid; }
td.fright	{ border-right-width: 1pt; border-right-style: solid; }
td.ftop		{ border-top-width: 1pt; border-top-style: solid; }
td.fbottom	{ border-bottom-width: 1pt; border-bottom-style: solid; }
td.fleftu	{ border-top-width: 1pt; border-top-style: solid; border-bottom-width: 1pt; border-bottom-style: solid; border-left-width: 1pt; border-left-style: solid; }
td.frightu	{ border-top-width: 1pt; border-top-style: solid; border-bottom-width: 1pt; border-bottom-style: solid; border-right-width: 1pt; border-right-style: solid; }
td.ftopu	{ border-top-width: 1pt; border-top-style: solid; border-left-width: 1pt; border-left-style: solid; border-right-width: 1pt; border-right-style: solid; }
td.fbottomu	{ border-bottom-width: 1pt; border-bottom-style: solid; border-left-width: 1pt; border-left-style: solid; border-right-width: 1pt; border-right-style: solid; }
td.fall		{ border-width: 1pt; border-style: solid; }
td.fbt		{ border-bottom-width: 1pt; border-bottom-style: solid; border-top-width: 1pt; border-top-style: solid; }
td.bclr     { border-color: #ccc;border-style: dashed;border-left:0 none;border-right:0 none;}
td.fbtd		{ border-top: 3px double #CCC;border-bottom: 3px double #CCC; }
td.fbl		{ border-bottom-width: 1pt; border-bottom-style: solid; border-left-width: 1pt; border-left-style: solid; }
td.fbr		{ border-bottom-width: 1pt; border-bottom-style: solid; border-right-width: 1pt; border-right-style: solid; }
td.ftl		{ border-top-width: 1pt; border-top-style: solid; border-left-width: 1pt; border-left-style: solid; }
td.ftr		{ border-top-width: 1pt; border-top-style: solid; border-right-width: 1pt; border-right-style: solid; }
td.flr		{ border-left-width: 1pt; border-left-style: solid; border-right-width: 1pt; border-right-style: solid; }
td.loginform	{ border-width: 1pt; border-style: solid; border-color: #888888; } 