body {
    background: none;
    margin: 0;
    padding: 0;
}

#header{
    width:100%;
    background:white;
    height:50px;
}
    #header a{
        float:left;
        width:220px;
    }
    #appName{
        background:url(../images/bungeni_editor.png) left top no-repeat;
        height:40px;
        float:left;
        color:#2b92be;
        font-size:20pt;
        margin:10px 10px 0 8px;                                                                                        
        padding-left:40px;
    }
#shadowTop{
    width:100%;
}

#content {
    height:100%;
    display:block;
}

    #left-content {
        width:12%;
        float:left;
        margin-left:10px;
    }
    
    #right-content {
        width:86%;
        min-height:500px;
        float:right;
        margin:0;
        padding:0;
        padding-left:5px;        
        border-left:1px solid #e4e4e4;
    }   

/*listing table (list-items.xql) styles*/
.listingTable{
    border:none;
    border-collapse:collapse;
    width:100%;
    display:table;
}
.listingTable tr:hover{
    background-color:#f4f4f4;
}
.listingTable th,
.listingTable td{
    padding:5px;
    border:thin solid #35b3e9;
}
.listingTable th{
    background:#2b92be;
    color:white;
}
 .w40 {
     width:40px;
 }

#embedDialogOld {
    opacity:1 !important;
}

h1 {
    margin-top: 0;
}

/*
 * STYLING XFORMS
 */
.InlineRoundBordersAlert table {
    border-collapse: collapse;
}

.InlineRoundBordersAlert * {
    /*font-size: 11pt;*/
    font-family: sans-serif;
    color: #666666;
}

.InlineRoundBordersAlert .dijitTextBoxFocused,
.InlineRoundBordersAlert .dijitComboBoxFocused,
.InlineRoundBordersAlert .dijitSpinnerFocused,
.InlineRoundBordersAlert .dijitSpinnerUpArrowActive,
.InlineRoundBordersAlert .dijitSpinnerDownArrowActive,
.InlineRoundBordersAlert .dijitTextAreaFocused {
    border-color: gray;
}

.InlineRoundBordersAlert .dijitInputField input,
.InlineRoundBordersAlert .dijitTextBox,
.InlineRoundBordersAlert .dijitComboBox,
.InlineRoundBordersAlert .dijitSpinner {
    margin: 0;
}
.InlineRoundBordersAlert #subtitle{
    display:block;
    font-size:8pt;  
}

.InlineRoundBordersAlert .bfVerticalTableLabel,
.InlineRoundBordersAlert .caLabelColumn {
    padding-right: 5px;
    width: 23%;
    text-align:right;
}

.InlineRoundBordersAlert .bfVerticalTableValue {
    width: 24%;
    height:29px;
    padding-bottom:5px;
}

.InlineRoundBordersAlert .bfVerticalTableInfo {
    width: 120px;
    position:relative;

}

.InlineRoundBordersAlert .xfInvalid .xfValue {
    background: white;
}
.InlineRoundBordersAlert .xfAlert,
.InlineRoundBordersAlert .xfHint,
.InlineRoundBordersAlert .xfHelp,
.InlineRoundBordersAlert .info {
    font-size: 9pt;
    font-family: sans-serif;
    width:95%;
    padding: 6px 0px 3px 25px;
    height:15px;
}
.InlineRoundBordersAlert .xfMinimalGroup .xfAlert,
.InlineRoundBordersAlert .xfMinimalGroup .xfHint,
.InlineRoundBordersAlert .xfMinimalGroup .xfHelp,
.InlineRoundBordersAlert .xfMinimalGroup .info {
    font-size: 9pt;
    font-family: sans-serif;
    width:95%;
    padding: 6px 0px 3px 25px;
    height:15px;
    margin-left:180px;
}
.InlineRoundBordersAlert .xfMinimalGroup .bfHelpText {
    z-index:999;
    top:-40px;
    right:-4px;
    position:absolute;
}
.InlineRoundBordersAlert  .xfHelp {
    width:10px;
}
.InlineRoundBordersAlert  .bfHelpText {
    z-index:999;
    top:-40px;
    right:-4px;
    position:absolute;
}
.InlineRoundBordersAlert .xsdBoolean .xfValue{
    -moz-border-radius:0;
    -webkit-border-radius:0;
}

.InlineRoundBordersAlert .xfAlert {
    display: block;
    background: #FFCFCF;
    color: #801B1B;
    background: #FFCFCF url(../images/error.png) no-repeat scroll 2% 5px;
    margin: 0 1px 0 0;
    /*overflow: hidden; */
    white-space: nowrap;
    /*width: 100%;*/
	border-color:#E5A3A3 !important;
}

.InlineRoundBordersAlert .xfHint {
    display: block;
    background: #F2F2F2 url(../images/hint.png) no-repeat 3% 5px;
    color: #666666;
    margin: 0;
    /*overflow: hidden;*/
    white-space: nowrap;
    /*width: 100%;    */
    border-color:#DBDBDB !important;

}

.InlineRoundBordersAlert .info {
    display: block;
    background: #F0FEE9 url(../images/ok.png) no-repeat 3% 5px;
    color: #666666;
    margin: 0;
    /*overflow: hidden;*/
    white-space: nowrap;
   /* width: 100%;*/
    border-color:#E1EFDB !important;
}

.InlineRoundBordersAlert .bfVerticalTable .xfControl, 
.InlineRoundBordersAlert .bfVerticalTable .xfAlert, 
.InlineRoundBordersAlert .bfVerticalTable .xfHint, 
.InlineRoundBordersAlert .bfVerticalTable .info {
    width:auto;
    margin-left:10px;
}

.InlineRoundBordersAlert .xfGroupLabel {
    font-size: 1.5em;
    /*border-bottom: 4px double #999999;*/
    padding-bottom: 5px;
    color: #333333;
}

.InlineRoundBordersAlert .xfTriggerMiddleColumnTrigger {
    float: right;
}


.InlineRoundBordersAlert .dijitFocused {
    background-color: #F2F2F2 !important;
}

.InlineRoundBordersAlert td, td span {
    /*position: relative;*/
}

.xfLabel{
    padding-top:6px;
    display:block;
}

.xfControl {
	width:100%;
}

.fieldModes {
    width:100px;
}

ul.secondary {
    list-style-type: square;
}

.sec-active {
    font-weight:bold;
}

/* fieldEdit Form*/
.InlineRoundBordersAlert .fieldEdit .xfAlert {
	margin-top:-27px !important;
	margin-left:-5px !important;
}

/* POPUP */
#popup { display:none; }

#popup,
#popup2 {
    background-color : #fff;
    border-radius : 10px 10px 10px 10px;
    box-shadow : 0 0 25px 5px #999;
    color : #111;
    display : none;
    min-width : 450px;
    padding : 25px
}
#popup {
    min-height : 150px
}
#popup .logo {
    color : #2B91AF;
    font : bold 325% 'Petrona', sans
}
#popup2 iframe {
    background : url('loader.gif') center center no-repeat;
    min-height : 240px;
    min-width : 450px
}
.lt-ie9 .bModal {
    background-color : #000
}
.button {
    background-color : #2b91af;
    border-radius : 10px;
    box-shadow : 0 2px 3px rgba(0, 0, 0, 0.3);
    color : #fff;
    cursor : pointer;
    display : inline-block;
    padding : 10px 20px;
    text-align : center;
    text-decoration : none
}
.button.small {
    border-radius : 15px;
    float : right;
    margin : 22px 5px 0;
    padding : 6px 15px
}
.button:hover {
    background-color : #1e1e1e
}
.button > span {
    font-size : 84%
}
.button.bClose {
    border-radius : 7px 7px 7px 7px;
    box-shadow : none;
    font : bold 131% sans-serif;
    padding : 0 6px 2px;
    position : absolute;
    right : -7px;
    top : -7px
}

/* JQUery Tabs */
#tabs_wrapper {
    width: 100%;
}
#tabs_container {
    border-bottom: 1px solid #ccc;
    width: 98%;
}
#tabs_content_container {
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
    width: 96%;
}
.tab_content {
    display: none;
}
#tabs {
    list-style: none;
    padding: 5px 0 4px 0;
    margin: 0 0 0 10px;
    font: 0.75em arial;
}
#tabs li {
    display: inline;
}
#tabs li a {
    border: 1px solid #ccc;
    padding: 4px 6px;
    text-decoration: none;
    background-color: #eeeeee;
    border-bottom: none;
    outline: none;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
#tabs li a:hover {
    background-color: #dddddd;
    padding: 4px 6px;
}
#tabs li.active a {
    border-bottom: 1px solid #fff;
    background-color: #fff;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
#tabs li.active a:hover {
    background-color: #eeeeee;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
 
#tabs li a.icon_accept {
    background-image: url(accept.png);
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 24px;
}
#tabs li a.icon_accept:hover {
    padding-left: 24px;
}