body {background-color:#eeeeee}

div#header {
    width:100%;
    margin:0;
    height:116px;
    background-color:#434343;
    padding-top:0;
}
div#sub-header {
    clear:none;
    width:100%;
    margin:0;
    margin-top:-4px;
    height:27px;
    background-color:#7e7e7e;
    padding-top:0px;
}

div#header-banner {
    width:960px;
    height:78px;
    margin:0 auto 15px auto;
    background:transparent url(../images/portal_banner.png) no-repeat;
}
div.header-nav {
    display:block;
    width:960px;
    height:auto;
    margin:3px auto 0 auto;
}
.theme-lev-1 {
    font-family:Arial,"Times New Roman";
    font-size:0.8em;
}
.theme-lev-1-only {
    font-family:Arial,"Times New Roman";
}
.lev-1-search {
    margin:auto 0px 10px auto;
    float:right !important;
    width:600px;
    height:40px;
    text-align:right;
}
#search-form-global .header-links {
    margin-right:2px;
    color:#36b9f1;
}

div#main-wrapper {
    width:960px;
    height:auto;
    margin:0 auto 0 auto;
    margin-top:20px;
    background-color:tranparent;
}
.portal .main-content {

}
h1#doc-title {
    text-align:right;
    text-shadow: 0px 1px 0px #c1c1c0;
    color:#f79f0e;
    padding:0;
    margin:0;
    margin-top:20px !important;
    font-weight:normal;
}
h1#doc-title-plain {
    text-align:right;
    color:#f79f0e;
    padding:0;
    margin:0;
    font-weight:normal;
}
h1#doc-title-blue {
    text-align:right;
    text-shadow: 0px 1px 0px #c1c1c0;
    color:#2b92be;
    padding:0;
    margin:0 10px;
    font-weight:normal;
    font-size:1.5em;
}

h1#doc-title-blue span.doc-sub-title-red {
    color:#b22b14;
}

h1#doc-title-blue-center {
    text-align:center;
    text-shadow: 0px 1px 0px #c1c1c0;
    color:#2b92be;
    padding:0;
    margin:0 auto;
    font-weight:normal;
    font-size:1.5em;
}
div#title-holder {
    clear:none;    
}

#doc-pre {
    position:relative;
    width:100%;
}

.ls-tabs {
    position:relative;
    width:100%;
}

div#region-content {
    width:960px;
    height:auto;
    min-height:500px;
    margin:0px auto 20px auto;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#fff;
    border:1px solid #c1c1c0;
}

div#region-content > div {
    margin: 0 auto;
}
div.doc-table-wrapper {
    width:80%;
    margin: 0 auto;
    text-align:center;
}

div.list-header {
    margin:0 auto;
    width:97%;
    clear:both;
}

.toggler {
    cursor:pointer;
}

div#doc-downloads {
    height:22px;
    padding:0 10px 0 0;
    text-align:right;
}

.rounded-eigh {
    -moz-border-radius: 8px; 
    -webkit-border-radius:8px; 
    border-radius:8px;
}      
.rounded-five {
    -moz-border-radius: 5px; 
    -webkit-border-radius:5px; 
    border-radius:5px;
}  

.doc-headers {
    color:#000;
    text-shadow: 0px .5px 0px #c1c1c0;
    font-weight:normal;
    font-size:1.1em;
} 

.doc-headers-darkgrey {
    color:#4f4f4f;
    text-shadow: 0px .5px 0px #c1c1c0;
} 

#doc-heading {
    text-align:center;
    text-transform:uppercase;
}
#doc-img {
    display:block;
    margin:0 auto 0 auto;
}
#doc-item-no {
    text-align:center;
}
#doc-item-desc {
    text-align:center;
    text-transform:uppercase;
}
#doc-item-desc2 {
    text-align:center;
}

#doc-content-area {
    margin:10px auto 10px auto;
    width:695px;
    text-align:justify;
}

.doc-toggle {
    margin:0 auto 0 10px;
}

.tgl-wrap {
    margin-right:10px;
}
 
 .toggle-wrapper {
     width:97%;
     height:10px;
 }
 .toggler-list {
    margin-left:10px;
    width: 100px;
    color: #AAAAA9;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .1);
    font-weight: normal;
    text-decoration: none;
    cursor:pointer;
    float:left;
 }
 .search-bar {
    float:right;  
    display:inline;
 }
 
.clear {
    clear:both;
}
.hide {
    display:none;
}

.version-align {
    clear:both !important;
    width:110px !important;
    height:auto !important;
    float:right !important;
    display:inline;
    position:relative;
    top:0px;
    right:10px;
}

/* Stuctures / Layout */
.struct-ib {
    display:inline-block;
}
.struct-i {
    display:inline;
}
.txt-center {
    text-align:center;
}

/* APPLY COLOR ONLY */
.bu-red {
    color:#b22b14;
}

/* PAGINATOR */
.paginate {
 	text-align:right;
 	float:left;
 	height:30px;
}
.paginate .page-state {
    float:left;
    color:#0085BE;
    display:inline;
    padding:1px 5px 0 0;
    height:18px;    
}
.paginate a 
{
	color:#2b92be !important;
	font-size:12px;
	font-weight:bold;
	background:#fff;
	border:1px solid #e3d3ff;
	margin:0 3px 0 3px;
	padding:2px 6px 2px 6px;
}
.paginate a:first-child 
{
	margin-left:0;
}
.paginate a:hover
{
	color: #ffffff !important;
	background-color: #2b92be;
	border:1px solid #2b92be;
}

.paginate a.disabled {
	color: #f79f0e !important;
	font-size:12px;
	padding:2px 6px 2px 6px;
	border:1px solid #e3d3ff;
	background:#fff !important;
	cursor:text;
	text-decoration:none;
}

.paginate a.curr-no {
	color: #ffffff !important;
	background-color: #2b92be;
	border:1px solid #2b92be;
}
/* PAGINATOR END */

/* SEARCH */
.quoted-qry {
    font-style:italic;
    color:#36B9F1;
}
 
/*reusables*/
.ele-center {
    margin:0 auto 0 auto;
    width:960px;
}
.ele-center-ws {
    margin:0 auto 0 auto;
    width:96%;
}   
.bspacer10 {
    margin-bottom:10px;
}  
.camel-txt {
    text-transform:capitalize;
}
.lower-txt {
    text-transform:lowercase;
}

/* div blocks */
.blocks {
    width:100%;
    margin: 0 auto;
}
.list-block {
    width:90%;
    margin:0 auto;
    padding-bottom:10px;
}
.list-block .block-label {
    width:120px;
    float:left;
    font-weight:bold;
}
.list-block div.doc-toggle {
    width:90%;
}

/* Versions, Event View feature this on the top-right section of the document */
.hanging-menu {
    clear:both;
    width:110px !important;
    height:auto;
    float:right !important;
    display:inline;
    position:relative;
    top:0px;
    right:10px;
}

.hang-left-titles {
    margin-left:110px;
    clear:none;
    float:none;
}

.inline {
    display:inline !important;
    padding-right:0px;
}

/* ADV search filters */
#adv-search-wrapper fieldset {
    display: block;
    margin: 0 0 1em 0;
    border: 0 solid white;
    border-top: 1px solid black;
    padding: 0 1em 1em 1em;
}

div.category-block {
    float:left;
    width:180px;
    border:1px solid transparent;
}

div.row {
    float:left;
    width:860px;
    height:30px;
    padding-top: 5px;  
 }

div.row span.label {
    float: left;
    width: 200px;
    text-align: right;  
}

div.row span.formw {
    float: left;
    width: 320px;
    text-align: left;
}
div.row span.formw input {
    vertical-align:text-top;
    width:315px;
}
div.row span.formw input.button {
    float:right;
    width:auto;
    text-align:right;
}

div.row span.example {
    float: right;
    width: 320px;
    text-align: left;
    font-family: "Arial","Helvetica",sans-serif;
    font-size:0.9em;
    color:gray;
}

div.row span.mono {
    font-family: monospace;
    font-size:0.9em;
    color:black;
}

div.row ul {
    margin-top:20px;
    list-style-type: none;
}
div.row ul li span {
    text-align:left;
}

div.row div.b-left {
    float:left;
    width:600px;
    text-align:right;
    padding-right:20px;
    border-right:1px solid #c1c1c0;
 }
div.row div.b-right {
    width:200px;
    float: right;
    display: block;
}
div.row div.b-right input.button {
    margin-top:20px;
    width:auto;
    text-align:right;
}

.ul-list-header {
    font-weight:bold;
}

#adv-search-wrapper {
    margin:0 auto;
    width:96%;
    height:50%;
    padding:5px;
}

.checkall {
    font-weight:normal;
    font-size:.9em;
    font-style:italic;
}

/* Lucene */
.search-subh {
    margin-left:10px;
    color:#ff8a00;
    width:100%;
}
.search-snippet {
    margin-left:10px;
    color:#000000;
    width:90%;
}
.snippet span {
    width:100% !important;
}
span.hi {
    background:#eeeeee;
    padding-left:3px;
    padding-right:3px;
    color:#b32c13;
    font-weight:bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* Lucene - global search */
.global-preview-head {
    clear:both;
    margin-left:15px;
    font-size:1.6em;
    font-style:italic;
}
.global-preview-summary {
    margin-left:15px;
    clear:both;
}
.r-prompts {
    color:#36b9f1;
    font-size:1.5em;
}