body {
    height:100%;
    background-color:#434343;
}
#container {
    
} 
.workspace {
    background-color:#434343;
    width:100%;
    height:100% !important;
}    

div.workspace #ws-header {
    width:100%;
    height:120px;
    margin:10px auto auto 0;
}
div.workspace #ws-header-banner {
    width:97%;
    margin:0 20px auto 20px;
    clear:none;
}
div.workspace #header-nav {
    width:600px;
    height:25px;
    margin:20px auto auto 20px;
    clear:none;
}
div.workspace #sub-header-nav {
    width:96%;
    background-color:#21a1ba;
    margin:0 auto;
}
div.workspace #context-menu {
    width:96%;
    background-color:#fad156;
    height:20px;
    margin-top:10px;
    margin-bottom:30px;
}
div.workspace #context-menu a {
    color:#000;
    text-decoration:none;
    padding-left:5px;
}
div.workspace #context-menu a:hover {
    color:#434343;
    text-decoration:none;
    padding-left:5px;
}

div.workspace #main-wrapper {
    clear:none;
    width:100%;
    height:100%;
    margin:10px auto 0 auto;
}
div.workspace #main-content {
    width:96% !important;
    height:auto;
    margin:0 auto 0 auto;
    background-color:#fff;
}
