<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:vdex="http://www.imsglobal.org/xsd/imsvdex_v1p0" xmlns="http://www.w3.org/1999/xhtml" xmlns:db="http://namespaces.objectrealms.net/rdb" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:bf="http://betterform.sourceforge.net/xforms" xmlns:zope="http://namespaces.zope.org/zope" xmlns:ce="http://bungeni.org/config_editor" xmlns:xf="http://www.w3.org/2002/xforms" bf:toaster-position="br-down">
    <head>
        <title class="config:app-title">App Title</title>
        <meta class="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/exist.css"/>
        <link rel="stylesheet" href="resources/css/icons.css"/>
    </head>
    <body id="body" class="nihilo InlineRoundBordersAlert">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <img src="icon.png" alt="logo" class="config-logo"/>
                    <a class="config:app-title brand" href="./index.html">App Title</a>
                </div>
            </div>
            <div class="app:get-main-nav?current=none"/>
        </div>
        <div id="content" class="container"/>
        <script type="text/javascript" src="resources/js/jquery-1.8.1.min.js"/>
        <script type="text/javascript" src="resources/js/bootstrap.min.js"/>
        <script type="text/javascript" src="resources/js/jquery.bpopup-0.8.0.min.js"/>
        <script type="text/javascript" src="resources/js/custom.js"/>
    </body>
</html>