<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:db="http://namespaces.objectrealms.net/rdb" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:zope="http://namespaces.zope.org/zope" xmlns:xf="http://www.w3.org/2002/xforms" xmlns:exist="http://exist.sourceforge.net/NS/exist">
    <head>
        <title>About</title>
    </head>
    <body>
        <div style="width:80%;height:440px;overflow:auto;margin-bottom:10px;padding:10px;">
            <h1>Bungeni ConfigManager</h1>
            <p>
                ConfigManager is an application that allows you to customize configuration files to suit your parliament. Enables you to:
            </p>
            <p>
                <ul>
                    <li>Manage forms</li>
                    <li>Manage workflows</li>
                    <li>Manage Vocaburies</li>
                </ul>
            </p>
            <p>Copyright 2012-2013, Bungeni</p>
        </div>
    </body>
</html>