<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:db="http://namespaces.objectrealms.net/rdb" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:zope="http://namespaces.zope.org/zope" xmlns:xf="http://www.w3.org/2002/xforms" xml:lang="en">
    <head>
        <title class="config:app-title">App Title</title>
        <meta class="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/main.css"/>
    </head>
    <body id="body" class="nihilo InlineRoundBordersAlert">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="config:app-title brand" href="./index.html">App Title</a>
                </div>
            </div>
        </div>
        <div id="content" class="container"/>
        <div class="app:inject-footer"/>
    </body>
</html>
